configuration {
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    modi: "drun,window";
    display-drun: "󰍉  Applications";
    display-window: "󰖯  Fenêtres";
    drun-display-format: "{name}";
}

@import "clair-obscur.rasi"
